In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
df

   A  B
0  1  2
1  3  4

In [ ]:
# This is super slow lots of times

In [6]:
df.loc[2] = [4,5]
df

   A  B
0  1  2
1  3  4
2  4  5

In [ ]:
# Build a new dataframe and then bulk append to the old one.

In [10]:
newrows = [[1,2] for i in range(5)] # This could be a dict of lists as well.
df2 = pd.DataFrame(newrows, columns=list('AB'))
df2

   A  B
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2

In [11]:
df.append(df2)

   A  B
0  1  2
1  3  4
2  4  5
0  1  2
1  1  2
2  1  2
3  1  2
4  1  2